
@import "bootstrap";

.title{
    text-align: center;
}

.user-info{

    margin-top: 10px;
    padding: 30px;
    background-color: #ccc;
    animation-name: animate;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes animate {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}


//login styles

.container-main{
    
    max-width: 50%;
    margin:auto;
    .field{
        display: flex;
        flex-direction: column;
    }
    input[type="submit"]{
        margin-top: 10px;
    }
}

.field{
    margin-top: 10px;
}